/cmake-build-debug/
/LaboratorioAutomi.exe
/.idea/LaboratorioAutomi.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_07_04_2021_15_57_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_07_04_2021_15_57__Default_Changelist_.xml
/.idea/workspace.xml
/.idea/vcs.xml
